@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}

.titulo{
  color: rgb(255, 230, 0);
  font-weight: bold;
}

.headers{
  color: azure;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(12, 12, 15);
  height: 15;
}